{erl_opts, [debug_info]}.
{deps, [
  {sstr, {git, "git://github.com/rustkas/erlang-simple-string.git", {branch, "rebar3_way"}}}
  ]}.

{relx, [{release, {ex09_type_conversion, "0.1.0"},
         [ex09_type_conversion,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.

{plugins, [rebar3_format]}.

{format, [
    {files, ["lib/type_conversion/src/*.erl"]},
    {formatter, otp_formatter},
    {options, #{paper => 80}}    
]}.