{erl_opts, [debug_info]}.
{deps, []}.

{relx, [{release, {ex02_convert, "0.1.0"},
         [ex02_convert,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.

{plugins, [rebar3_format]}.

{format, [
    {files, ["lib/convert/src/*.erl", "lib/convert/test/*.erl"]},
    {formatter, otp_formatter},
    {options, #{paper => 80}}    
]}.