{erl_opts, [debug_info]}.
{deps, []}.

{relx, [{release, {ex01_qsort, "0.1.0"},
         [ex01_qsort,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.

{plugins, [rebar3_format]}.

{format, [
    {files, ["lib/qsort/src/*.?rl"]},
    {formatter, otp_formatter},
    {options, #{paper => 160}}    
]}.
	